
# Создано https://www.toptal.com/developers/gitignore/api/c++,visualstudiocode
# Редактировать по адресу https://www.toptal.com/developers/gitignore?templates=c++,visualstudiocode

### C++ ###
# Предпосылки
*.d

# Скомпилированные объектные файлы
*.slo
*.lo
*.o
*.obj

# Прекомпилированные заголовки
*.gch
*.pch

# Скомпилированные динамические библиотеки
*.so
*.dylib
*.dll

# Файлы модулей Fortran
*.mod
*.smod

# Скомпилированные статические библиотеки
*.lai
*.la
*.a
*.lib

# Исполняемые
файлы *.exe
*.out
*.app

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-фрагменты кода

# Локальная история для кода Visual Studio
.история/

# Встроенные расширения кода Visual Studio
*.vsix

### VisualStudioCode Патч ###
# Игнорировать всю локальную историю файлов
.история
.ионид

# Поддержка области действия фрагмента проекта

# Конец https://www.toptal.com/developers/gitignore/api/c++,visualstudiocode
